# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Environment
.env
.env.local
.env.*.local

# Tests
coverage

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log