# ============================================
# POSTGRES
# ============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_change_me
POSTGRES_DB=rtc_chat

# ============================================
# JWT SECRETS
# ============================================
JWT_SECRET=your_super_secret_key_change_this_in_production_min_32_chars
JWT_REFRESH_SECRET=your_refresh_secret_key_also_change_this_min_32_chars

# ============================================
# CLIENT URL
# ============================================
CLIENT_URL=http://localhost:3000

# ============================================
# Giphy API Key
# ============================================

NEXT_PUBLIC_GIPHY_API_KEY=UP4mVIQARjHZh1NF8w62C5xxpCV4DymY