# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Tests
coverage
*.test.ts
tests

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log